language: node_js
node_js:
    - "8"
    - "10"
    - "11"
    - "12"
before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH="$HOME/.yarn/bin:$PATH"
install:
    - yarn --no-lockfile
before_script:
    - yarn lerna bootstrap
script:
    - yarn lint
    - yarn test
