
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Index of E3Kit API Reference</title>
    <style>
        table tr { white-space: nowrap; }
        td.display-name { padding-left: 1em; }
    </style>
</head>
<body>
    <h1>E3Kit JavaScript API Reference</h1>
    <table>
        <tbody>
            <% links.forEach(function(link) { %>
                <tr>
                    <td class="display-name"><a href="<%= link.href %>"><%= link.title %></a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
